*{
    font-family: "Montserrat", sans-serif;
}

body{
    background-color: #E2E3E5;
}

.dashboardTitle{
    font-size: 50px;
    font-weight: 600;
    font-style: oblique;
    background: linear-gradient(to right, #0000ff, #d20a2f, #0000ff);
    background-clip: text;
    color: transparent;
}

.linkCustom{
    transition: color 0.35s, transform 0.35s;
    padding: 0px 5px;
}

.linkCustom:hover{
    transform: scale(1.1);
    color: red;
}

.navBgCustomColor{
    background-color: #020202;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand{
    color: #fff;
}


.nav-link{
    color: #fff;
}

.headerCustom{
    height: 100px;
    border-bottom: solid 5px black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titleCustom {
    margin-top: auto;
    margin-bottom: auto;
}

.dropdownMenuCustom{
    z-index: 1000;
}

.searchBarCustom{
    justify-content: flex-end;
    margin-left: auto;
    
}

.toggleIconCustom{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.7)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.searchBtnCustom{
    background-color: #fff;
    transition: 0.3s;
}

.searchBtnCustom:hover{
    background-color: red;
    color: white; 
    transition: 0.3s;
}

.card-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.tagsBottom {
    margin-top: auto;
    font-weight: 600;
    font-size: 16px;
}

.card-footer p{
    text-align: left;
}


.form-control.input-custom {
    width: 100%;
    max-width: 300px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.btn-custom {
    flex-shrink: 0;
    margin-bottom: 5px;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-secondary:hover {
    background-color: #5a6268;
    transform: scale(1.05);
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-danger:hover {
    background-color: #c82333;
    transform: scale(1.05);
}

.custom-row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    
}

.custom-col {
    margin-bottom: 1.5rem;
}

.nav-item.dropdown-hover:hover > .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1050;
}

.card {
    position: relative;
    z-index: 1;
}

.navbar {
    position: relative;
    z-index: 1000;
}

.nav-item.dropdown-hover {
    position: relative;
}

.editBtnCustom{
    width: 159px;
}

.editBtnCustom:hover{
    background-color: green;
}

.undoBtnCustom{
    width: 159px;
}

.undoBtnCustom:hover{
    background-color: red;
    color: white;
}

.containerEditBtn{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}







  
  
